<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total task', 'Completed task', 'Uncompleted'],
            datasets: [{
                label: '# Task graph',
                data: [{{ total_task }},{{ completed_task }},{{ uncompleted_task }}],
                backgroundColor: [
                    '#FF6384',
                    '#196384',
                    '#371D84'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>